{% load static %}
<div class="barra-lateral-esquerda">
    <div class="dropdown" id="bloco-right">
        <button id="btn-filter" class="btn btn-secondary dropdown-toggle mb-3" data-bs-toggle="dropdown" type="button">
            <span class="d-none d-md-inline">filtro</span>
            <i class="fa-solid fa-filter d-md-none"></i>
        </button>
        <ul class="dropdown-menu ps-4">
            <div>
                <input type="checkbox" id="filtro" name="filtro" value="filtro">
                <label for="filtro">filtrar </label>
            </div>
            <div class="check-container">
                <li class="dropdown-item">
                    <input type="checkbox" id="subtema" name="subtema" value="subtema">
                    <label for="tema">subtema</label>
                </li>
                <li class="dropdown-item">
                    <input type="checkbox" id="topico" name="topico" value="topico">
                    <label for="tema">topico</label>
                </li>
                <li class="dropdown-item">
                    <input type="checkbox" id="importante" name="importante" value="importante">
                    <label for="tema">importante</label>
                </li>
                <li class="dropdown-item">
                    <input type="checkbox" id="destaque" name="destaque" value="destaque">
                    <label for="tema">destaque</label>
                </li>
            </div>
        </ul>
       
        <button type="button" class="btn btn-light w-75 mb-3" id="btn-salvar-conteudo">
            <span class="d-none d-md-inline">Salvar</span>

            <i class="fa-solid fa-floppy-disk d-md-none"></i>
        </button>
        <button class="btn btn-light w-75 mb-3" id="btn-nova-folha">
            <span class="d-none d-md-inline">Nova Folha</span>
            <i class="fa-regular fa-file d-md-none"></i>
        </button>
        <a id="btn-baixar-pdf" id="baixar-pdf" href="{% url 'baixar-pdf' %}">
            <button type="button" class="btn btn-light w-75 mb-3">
            <span class="d-none d-md-inline">Baixar arquivo</span>
                
                <i class="fa-solid fa-file-arrow-down d-md-none"></i>

            </button>
        </a>
        <button type="button" class="btn btn-light w-75 mb-3" id="btn-leitura">
            <span class="d-none d-md-inline">Somente leitura</span>

            <i class="fa-regular fa-eye d-md-none"></i>
        </button>
        <div class="btn-group dropend">
            <button id="btn-adicionar-pdf" type="button" class="btn btn-light w-75 mb-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                
            <span class="d-none d-md-inline">Anexar arquivo</span>

                <i class="fa-solid fa-file-circle-plus d-md-none"></i>
            </button>
            <ul class="dropdown-menu">
                <form id="form-file" action="{% url 'adiciona-arquivo'%}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                     <!-- Dropdown menu links -->
                    <input type="file" id="avatar" name="avatar" accept="file/pdf, file/pdf">
                </form>
               

            </ul>
        </div>
            
        



    </div>
</div>

</div>